<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>글쓰기 페이지</title>
        <link rel="stylesheet" href="linkToCSS" />
    </head>
    <body>
        <h1>글쓰기 페이지</h1>
        <form method="POST"> 
            <!-- 사이트간 요청 위조(보안용) -->
            {% csrf_token %} 
            제목<br>
            <input type="text" name="postname"><br>
            내용<br>
            <textarea rows="10" cols="50" name="contents"></textarea><br>
            <input type="file" name="mainphoto"><br>
            <input type="submit" value="글쓰기">
        </form>
    </body>
</html>